

.card{
    /* width:calc(100% - 20px); */
    margin: 10px, 10px;
    border: 1px solid #cecece;
    box-shadow: 0 0 2px - 2px gray;
    text-align: -webkit-center;
    margin-left: 10px;
    margin-top: 30px;
}
.card:hover{
  box-shadow: 0 0 20px -5px gray;
}

.cardHeader{
    display: flex;
    justify-content: space-between;
    padding: 20px, 20px;
    border-bottom: 1px, solid #cecece;
}
.servicesContainer{
    width: 200px;
  
}
.servicesContainer .serviceImgContainer{
    width: 150px;
    height: 120px;
    overflow: hidden;
    text-align: center;
    margin: 10px auto;
}
.servicesContainer .serviceImgContainer img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.servicesInfo{
    text-align: center;
    font-size: 16px;
}
.servicesPrice{
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
}